body{
   /* background-color: black;*/
   background-image: url(ceu.png);
   background-size: cover;
   background-position: center;

    color: goldenrod;
}

section{
    margin: 10%;
}

h2 {
    color:cyan
}

.texto-inglês {
    font-style: italic;
}

#nome-usuario{
    font-weight: bolder;
}